@use '../../assets/styles/abstract' as a;

.button {
  display: block;
  width: max-content;
  padding: 0.8rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 0.27344rem;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  
  &--orange {
    background-color: a.$clr-primary-color-orange;
    
    &:hover {
      color: a.$clr-white;
      background-color: $clr-black;
    }
  }
}