.new-articles {
  display: grid;
  gap: 2.5rem;
  padding: 1.5rem 1.25rem;
  color: $clr-white;
  background-color: $clr-black;
  
  @include breakpoint(medium) {
    align-content: flex-start;
  }
  
  &__header {
    color: $clr-primary-color-yellow;
  }
  
  &__articles {
    display: grid;
    gap: 2rem;
  }
  
  &__article {
    display: grid;
    gap: 2rem;
  }
  
  &__article-preview {
    color: $clr-silver;
  }

  &__article-text {
    display: grid;
    gap: 0.5rem;
  }
  
  &__divider {
    border-color: $clr-gunmetal;
  }
}