.hero {
  display: grid;
  gap: 1.5rem;

  &__image {
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  &__featured {
    display: grid;
    justify-content: center;
    gap: 1.5rem;

    @include breakpoint(large) {
      grid-template: 1fr max-content / 1fr 1fr;
    }
  }

  &__header {
    @include breakpoint(large) {
      grid-area: 1/1 / 3 / 1;
    }
  }
}